body, html {
	height: 100%; font-size: 90%;
}

$space: 2.5%;

// div#container {
// 	display: flex;
// 	flex-direction: column;
// 	height: 100%;
// 	div {
// 		display: flex;
// 		flex: 1;
// 		background: lightblue;
// 		justify-content: center;
// 		align-items: center;
// 	}
// 	div:nth-of-type(2), div:nth-of-type(4) {
// 		background: teal;
// 	}
// }

div#grid {
	width: 100% - ($space*2);
	height: 50vh;
	background: green;
	padding: $space;
	div {
		height: 100%;
		width: 20%;
		float: left;
		background: red;
		margin: $space;
	}
}

@media only screen 
and (max-width : 980px)
and (orientation: portrait) {
	div#grid {
		div {
			width: 45%;
			height: 25vh
		}
	}

}


